{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Ontmoet het team</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="team">
      <div class="inner">

        <h2>Ontmoet het team</h2>
        <p>Marcelien Bakker is in 1980 afgestudeerd als tandarts aan de Rijksuniversiteit Utrecht. Daarna heeft zij regelmatig bijscholing gevolgd in de vorm van cursussen en congressen. Ze is lid van diverse wetenschappelijke verenigingen (waaronder kindertandheelkunde) en ze is ingeschreven in het <a href="http://www.krt.nu/nmt/krt/cms.nsf" target="_blank">Kwaliteits Register Tandartsen</a>.</p>
        <p>Ook de assistentes volgen regelmatig cursussen om op de hoogte te blijven van de laatste tandheelkundige ontwikkelingen.</p>

        <ul>
          <li>
            <img src="/assets/img/tandarts-marcelien-bakker-thumb.jpg" width="200" height="300" alt="tandarts Marcelien Bakker" />
            <h3>Marcelien Bakker</h3>
            <h4>Tandarts</h4>
          </li>
          <li>
            <img src="/assets/img/wilma-mandos-tenwolde-thumb.jpg" width="200" height="300" alt="tandartsassistente Wilma Mandos-Tenwolde" />
            <h3>Wilma Mandos-Tenwolde</h3>
            <h4>Assistente</h4>
          </li>
          <li>
            <img src="/assets/img/jennie-simons-de-vries-thumb.jpg" width="200" height="300" alt="tandartsassistente Jennie Simons-de Vries" />
            <h3>Jennie Simons-de Vries</h3>
            <h4>Assistente</h4>
          </li>
          <li>
            <img src="/assets/img/annet-van-de-plicht-honkoop-thumb.jpg" width="200" height="300" alt="tandartsassistente Annet v.d. Plicht-Honkoop" />
            <h3>Annet v.d. Plicht-Honkoop</h3>
            <h4>Assistente</h4>
          </li>
          <li>
            <img src="/assets/img/corinne-bleijenberg-mul-thumb.jpg" width="200" height="300" alt="tandartsassistente Corine Bleijenberg-Mul" />
            <h3>Corine Bleijenberg-Mul</h3>
            <h4>Assistente</h4>
          </li>
        </ul>

      </div>
    </section>

  {{/replace}}
{{/extend}}