{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Klachtenregeling</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="klachtenregeling">
      <div class="inner">
        <h2>Klachtenregeling</h2>
        <p><strong>Wij doen altijd ons uiterste best om u zo goed mogelijk te behandelen</strong>. Kwaliteit is één van de pijlers van onze praktijk en wij leggen er eer in ons werk zo goed mogelijk te doen. Mocht u desalniettemin toch niet tevreden zijn over een behandeling, neemt u dan alstublieft <a href="contact">contact</a> met ons op. Samen zullen we dan bekijken of en wat voor oplossing wij voor uw probleem kunnen vinden.</p>
        <p>Mocht ook dit geen uitkomst bieden, dan kunt u gebruik maken van de <a href="https://www.knmt.nl/patienten/help-ik-heb-een-klacht" target="_blank">KNMT klachtenservice</a> van de Koninklijke Nederlandse Maatschappij der Tandheelkunde.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
