<header>
  <div class="inner">
    <h1>
      <a href="." title="Tandarts Bakker">
        <img src="assets/img/tandarts-bakker-logo.jpg" alt="Tandarts Bakker logo" width="362" height="146">
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="javascript:void(0)">Tandarts Bakker<span></span></a>
          <ul>
            <li><a href=".">Welkom</a></li>
            <li><a href="team">Ontmoet het team</a></li>
            <li><a href="behandeling">Behandeling</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)">Praktische informatie<span></span></a>
          <ul>
            <li><a href="maak-een-afspraak">Maak een afspraak</a></li>
            <li><a href="inschrijven">Inschrijven</a></li>
            <li><a href="spoedgeval">Spoedgeval</a></li>
            <li><a href="tarieven">Tarieven</a></li>
            <li><a href="klachtenregeling">Klachtenregeling</a></li>
            <li><a href="nuttige-links">Nuttige links</a></li>
          </ul>
        </li>
        <li><a href="contact">Contact<span></span></a></li>
      </ul>
    </nav>
    <div id="warning">
      <p><strong>Opgelet</strong>: Onze praktijk is tot en met 13 augustus 2017 gesloten wegens vakantie.</p>
    </div>
  </div>
</header>
