{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Inschrijven</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="inschrijven">
      <div class="inner">

        <h2>Inschrijven</h2>
        <img src="assets/img/balie-tandarts-bakker-thumb.jpg" width="310" height="207" alt="balie Tandarts Bakker" />
        <p><strong>Op dit moment nemen wij gefaseerd nieuwe patiënten aan als daar ruimte voor is</strong>.</p>
        <p>Mocht u patiënt bij ons willen worden, neemt u dan <a href="contact">contact</a> op met de praktijk op het nummer <strong>010&#8209;4516588</strong>. Wij zijn telefonisch bereikbaar van maandag tot en met donderdag van 8:00 tot 12:00 uur. De assistentes zullen u dan meedelen hoe lang de eventuele wachttijd is voordat u daadwerkelijk bij ons terecht kan.</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}