// COMMON ACROSS ALL PAGES
html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
  font-size: 14px;
  font-weight: $regular;
  line-height: 100%;
  color: #576b83;
  -webkit-font-smoothing: antialiased;

  .wrapper {
    max-width: 920px;
    margin: 15px auto 50px;
    background-color: #fff;
    @include box-shadow(0 3px 24px 0 rgba(0,0,0,0.5));
    @include border-radius(3px);
  }

  .bg {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: $bakker-bg-1;
    background: -moz-linear-gradient(top, $bakker-bg-1 0%, $bakker-bg-2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bakker-bg-1), color-stop(100%,$bakker-bg-2));
    background: -webkit-linear-gradient(top, $bakker-bg-1 0%,$bakker-bg-2 100%);
    background: -o-linear-gradient(top, $bakker-bg-1 0%,$bakker-bg-2 100%);
    background: -ms-linear-gradient(top, $bakker-bg-1 0%,$bakker-bg-2 100%);
    background: linear-gradient(to bottom, $bakker-bg-1 0%,$bakker-bg-2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr= '$bakker-bg-1', endColorstr='$bakker-bg-2',GradientType=0 );
  }
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-weight: $semi-bold;
  font-size: 34px;
  line-height: 100%;
  margin: 0 0 60px;
  font-family: 'Open Sans','OpenSans','Arial','Helvetica',sans-serif;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 20px 0 8px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

p {
  line-height: 150%;
  padding: 0 4px;
  max-width: 600px;

  strong {
    font-weight: $bold;
  }
  em {
    background: yellow;
    font-style: normal;
  }
}

a {
  color: #ca9028;
  &:hover {
    text-decoration: none;
    color: orange;
  }
}

a.button,
button {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  background: orange;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px RGBA(0, 0, 0, 0.2);
  outline: 0;
  border: 0;
  padding: 2px 22px 0;
  @include box-shadow(0 3px 0 0 orange);
  @include border-radius(5px);
  @include prevent-user-select;

  &.small {
    font-size: 28px;
    line-height: 38px;
    padding: 3px 20px 0;
  }
  &:hover {
    background: lighten(orange, 7%);
    @include box-shadow(0 3px 0 0 lighten(orange, 7%));
  }
  &:active {
    margin-top: 2px;
    @include box-shadow(0 1px 0 0 lighten(orange, 7%));
  }
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0;
    line-height: 150%;
    padding: 0 4px;
  }
}

footer,
header,
section {
  position: relative;

  .inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 38px 60px 48px;
    @include border-box;
  }
}

header {
  .inner {
    padding: 0;

    h1 {
      padding: 28px 0 13px 41px;

      a {
        img {
          display: inline-block;
          height: 120px;
          width: auto;
        }
      }
    }

    nav {
      background: url('../img/bg-menu.png') no-repeat;
      margin-left: -20px;
      padding: 14px 0 0 70px;

      > ul {
        display: inline-block;
        margin: 0 auto;
        &:after {
          @include clearfix;
        }

        > li {
          float: left;
          position: relative;
          &:hover {
            > a {
              span {
                display: block;
              }
            }

            > ul {
              display: block;
            }
          }

          > a {
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            line-height: 45px;
            display: inline-block;
            padding: 0 20px;

            span {
              display: none;
              width: 45px;
              height: 26px;
              position: absolute;
              top: 20px;
              background: url('../img/arrow-down.png');
              top: -14px;
              left: 50%;
              margin-left: -25px;
            }
          }

          > ul {
            display: none;
            position: absolute;
            top: 45px;
            left: 10px;
            z-index: 1;

            > li {
              > a {
                background: url('../img/bg-menu-item.png') no-repeat;
                line-height: 30px;
                height: 30px;
                padding: 0 10px;
                border: 2px solid #fff;
                border-top-width: 0;
                color: #fff;
                display: inline-block;
                text-decoration: none;
                width: 100%;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  section {
    .inner {
      img {
        border: 12px solid #fff;
        @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.2));
      }
    }
  }
}

footer {
  .inner {
    padding: 0;
    height: 60px;
    text-align: center;

    .bg {
      background: url('../img/bg-footer.png') no-repeat;
      position: absolute;
      left: -20px;
      top: 0;
      height: 50px;
      width: 960px;
      z-index: 1;

      p {
        font-size: 13px;
        color: #fff;
        margin: 16px 0 0;
        max-width: none;

        a {
          color: #fff;
        }
      }
    }
  }
}

#behandeling {
  img {
    float: left;
    margin: 0 40px 20px 0;
  }

  p {
    max-width: 760px;
  }
}

#landing {
  .images {
    margin: 30px 0;
    &:after {
      @include clearfix;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    p {
      max-width: 640px;
    }
  }
}

#maak-een-afspraak {
  .inner {
    &:after {
      @include clearfix;
    }

    img {
      float: left;
      margin: 0 40px 20px 0;
    }

    p {
      max-width: 720px;
    }
  }
}

#inschrijven {
  .inner {
    &:after {
      @include clearfix;
    }

    img {
      float: left;
      margin: 0 40px 20px 0;
    }

    p {
      max-width: 750px;
    }
  }
}

#nuttige-links {
  ul {
    li {
      a {
        width: 200px;
        display: inline-block;
      }
    }
  }
}

#team {
  ul {
    margin-top: 70px;
    &:after {
      @include clearfix;
    }

    li {
      float: left;
      width: 50%;
      height: 470px;
      padding: 0;
      text-align: center;

      img {
        display: inline-block;
      }
    }
  }
}

#spoedgeval {
  ul {
    margin-left: 21px;

    li {
      list-style: disc;
      padding-left: 5px;
    }
  }

  p {
    max-width: 540px;
  }
}

#contact {
  h3 {
    margin: 0 0 20px;
  }

  ul {
    li {
      span {
        display: inline-block;
        width: 100px;
      }
    }
  }

  iframe {
    margin: 40px 0 0;
    border: 1px solid #aeaeae !important;
    @include border-box;
  }
}

#warning {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #ffdb80;
  padding: 20px;
  width: 320px;
  box-shadow: 0 3px 10px RGBA(0,0,0,0.2);
  border: 1px solid #ceb882;
  p {
    color: #444444;
    margin: 0;
    padding: 0;
  }
}
