{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="behandeling">
      <div class="inner">

        <h2>Behandeling</h2>
        <img src="/assets/img/assistentes-aan-het-werk-thumb.jpg" width="300" height="450" alt="tandarts assistentes aan het werk" />
        <p>Bij elk bezoek geven wij u zo nodig tips over het goed poetsen en schoonhouden van uw gebit. De meeste patiënten zien wij elke 6-12 maanden voor een <strong>periodieke controle</strong>. Dit bezoek omvat een mondonderzoek, het inspecteren van de tanden, kiezen en het tandvlees. Eens in de drie jaar (of eerder als daar aanleiding voor is) doen wij aanvullend röntgenonderzoek. De bevindingen van het periodiek onderzoek worden besproken en in een behandelvoorstel verwerkt.</p>
        <p>Als praktijk vinden wij het belangrijk dat u zowel voorafgaande als tijdens een behandeling goed geïnformeerd wordt. Wij nemen de tijd en u kunt al uw vragen rustig met ons bespreken.</p>
        <p>Wij adviseren u om ons met de behandeling van uw <strong>kinderen</strong> te laten beginnen vanaf het moment dat ze een jaar of 2 oud zijn. Het is belangrijk dat zij 2 keer per jaar langskomen voor controle zodat wij op vroege leeftijd samen met u kunnen zorgen voor een gezond gebit. Uiteraard geven wij dan ook adviezen hoe u uw kind kunt helpen bij een goede mondverzorging.</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}