{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Maak een afspraak</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="maak-een-afspraak">
      <div class="inner">

        <h2>Maak een afspraak</h2>
        <img src="/assets/img/tandarts-stoel-bakker-thumb.jpg" width="200" height="300" alt="tandartsstoel en operatiezaal" />
        <p>Voor het maken van een afspraak of voor vragen kunt u onze praktijk bereiken op maandag, dinsdag en donderdag van 8.00 tot 11.30 uur en van 13.30 tot 15.30 uur op telefoonnummer <strong>010&#8209;4516588</strong>.</p>
        <p>Als u een gemaakte afspraak niet kunt nakomen, moet u deze minimaal 24 uur van te voren annuleren. Dit kan telefonisch op nummer 010&#8209;4516588. Als wij niet aanwezig zijn, kunt u het antwoordapparaat inspreken. Ook is het mogelijk per e-mail aan <a href="mailto:balie@tandarts-bakker.nl" target="_blank">balie@tandarts-bakker.nl</a> uw afspraak af te zeggen. Bij niet tijdige annulering worden kosten voor de gereserveerde tijd in rekening gebracht.</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}