{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="tarieven">
      <div class="inner">

        <h2>Tarieven</h2>
        <p>Download: <a href="/assets/pdf/20120508-tarievenlijst-mei-2012.pdf" target="_blank">Tarievenlijst mei 2012.pdf</a></p>
        <p>Met ingang van 1 januari 2013 zijn de tarieven die tandartsen mogen berekenen, vastgesteld door de NZA. Het experiment met de vrije prijsvorming is hiermee tot een eind gekomen. Op de site <a href="http://www.allesoverhetgebit.nl" target="_blank">www.allesoverhetgebit.nl</a> kunt u informatie vinden over de tarieven 2015.</p>
        <p>Wat niet veranderd is, is dat NMTFencs namens de tandarts de facturen int. De betalingsvoorwaarden staan vermeld op de achterkant van uw nota. Voor vragen over de rekening dient u dan ook in eerste instantie contact op te nemen met NMTFencs via telefoonnummer 0900-7777771 of via mail op emailadres <a href="mailto:fencs@nmtfencs.nl" target="_blank">fencs@nmtfencs.nl</a>. Ook kunt u via internet reageren op adres <a href="http://WWW.uwnota.nl" target="_blank">www.uwnota.nl</a>.</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}