{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contacteer Tandarts Bakker</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="contact">
      <div class="inner">
        <h2>Contact</h2>
        <h3>Tandartspraktijk M.C.M. Bakker</h3>
        <ul>
          <li><span>Adres:</span>De Baronie 7, 2904 XA Capelle aan den IJssel, NL</li>
          <li><span>Telefoon:</span>010-4516588</li>
          <li><span>Email:</span><a href="mailt:balie@tandarts-bakker.nl" target="_blank">balie@tandarts-bakker.nl</a></li>
        </ul>
        <p>Wegens vakantie is de praktijk <strong>gesloten van 6 t/m 10 maart 2017</strong>. Voor spoedgevallen kunt u het volgende nummer bellen: <strong>010 - 451 65 88</strong>. U krijgt dan een bandje te horen met informatie over hoe u de dienstdoende tandarts kunt bereiken. Let op: dit geldt alleen voor spoedgevallen!</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39362.06099339408!2d4.544749125167388!3d51.931603961327724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5d2b293af3abd%3A0xe3afa27a850d2a6e!2sDe+Baronie+7%2C+2904+XA+Capelle+aan+Den+IJssel%2C+Netherlands!5e0!3m2!1sen!2sus!4v1435998261906" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </section>

  {{/replace}}
{{/extend}}
