{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige links</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="nuttige-links">
      <div class="inner">
        <h2>Nuttige Links</h2>
        <ul>
          <li><a href="http://www.allesoverhetgebit.nl" target="_blank">www.allesoverhetgebit.nl</a>Alles over het gebit voor patiënten, van tandartsen.</li>
          <li><a href="http://www.rtvophetnet.nl" target="_blank">www.rtvophetnet.nl</a>Informatie over mondgezondheid, behandelingen, tarieven, ...</li>
          <li><a href="http://www.ivorenkruis.nl" target="_blank">www.ivorenkruis.nl</a>Informatie over mondgezondheid en de behandelingen van het Ivoren Kruis.</li>
        </ul>
      </div>
    </section>
    
  {{/replace}}
{{/extend}}
