{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Spoedgeval</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="spoedgeval">
      <div class="inner">

        <h2>Spoedgeval</h2>
        <p><strong>In geval van spoed</strong> kunt u ons maandag, dinsdag en donderdag van 8.00 tot 11.30 uur en van 13.30 tot 15.30 uur bereiken op telefoonnummer <strong>010-4516588</strong>. Buiten genoemde tijden en indien op dit nummer niet wordt opgenomen, wordt u verzocht het antwoordapparaat in zijn geheel af te luisteren. Er worden namelijk altijd instructies ingesproken wat te doen voor het geval wij (tijdelijk) niet op dit nummer bereikbaar zijn.</p>
        <p><strong>Na 17.00 uur, vrijdag, in het weekend en op feestdagen</strong> kunt u voor spoedgevallen terecht bij de spoedgevallendienst van de kring "Hollandsche IJssel en omstreken", telefoonnummer <strong>010 - 2717729</strong>. U krijgt dan te horen wat u moet doen om in contact te komen met de dienstdoende tandarts.</p>
        <p>Indien u een afspraak met de dienstdoende tandarts heeft gemaakt, neem dan uw legitimatie en een geldig verzekeringsbewijs mee en houd er rekening mee dat er contant afgerekend moet worden.</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}