{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Spoedgeval</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="spoedgeval">
      <div class="inner">
        <h2>Spoedgeval</h2>
        <p>In geval van spoed zijn wij als volgt telefonisch te bereiken:</p>
        <ul>
          <li>Van maandag tot en met donderdag van 8:00 tot 12:00 uur: <strong><nobr>010 – 451 65 88</nobr></strong></li>
          <li>Van maandag tot en met donderdag van 12:00 tot 17:00 uur: <strong><nobr>06 – 13 57 63</nobr></strong></li>
        </ul>
        <p>Buiten bovengenoemde tijden, dus van maandag tot en met donderdag na 17:00 uur, op vrijdag, in het weekend en op feestdagen kunt u voor spoedgevallen terecht bij de <strong>spoedgevallendienst van de Kring Hollandsche IJssel en Omstreken</strong>, telefoonnummer: <strong><nobr>010 – 27 177 29</nobr></strong>. U krijgt dan te horen welke tandarts dienst heeft. Maakt u een afspraak met de dienstdoende tandarts, neem dan altijd een geldig verzekeringsbewijs en legitimatie mee en houdt u er rekening mee dat u direct moet betalen.</p>
        <p>Voorts kunt u altijd het oude vertrouwde praktijknummer bellen (010 – 451 65 88). U krijgt dan, behalve op tijden dat de telefoon bediend wordt, een bandje te horen. Wij vragen u vriendelijk in dat geval dat bandje in zijn geheel af te luisteren. U krijgt dan uitleg hoe u in contact kan komen met de praktijk (dan wel de dienstdoende tandarts).</p>
        <p>Tijdens <strong>afwezigheid</strong> van de tandarts zorgen wij voor een waarnemende collega in de buurt. Luistert u in dat geval ons gehele antwoordapparaat (<strong><nobr>010 – 451 65 88</nobr></strong>) af.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}