{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Spoedgeval</title>
  {{/replace}}

  {{#replace "main"}}

    <section id="spoedgeval">
      <div class="inner">
        <h2>Spoedgeval</h2>
        <p>In geval van spoed zijn wij als volgt telefonisch te bereiken:</p>
        <ul>
          <li>Van maandag tot en met donderdag van 8:00 tot 12:00 uur: <strong>010 – 451 65 88</strong></li>
          <li>Van maandag tot en met donderdag van 12:00 tot 17:00 uur: <strong>06 – 13 57 63 90</strong></li>
        </ul>
        <p>Voorts kunt u na 12:00 uur altijd het oude vertrouwde praktijknummer bellen
          <nobr>(010 – 451 65 88)</nobr>. U krijgt dan een bandje te horen. Wij vragen u vriendelijk in dat geval dat bandje in zijn geheel af te luisteren. U krijgt dan uitleg hoe u in contact kan komen met de praktijk (dan wel de dienstdoende tandarts).</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}